@forward "base";
@forward "anim";

#app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 46px 50px;
  width: 100%;
  font-weight: normal;
  min-height: 100vh;
  max-width: 1440px;
}

.router-link-active {
  color: #BA967D;
}

a {
  color: #333;
  text-decoration: none;
  &:active, &:hover {
    outline: 0;
  }
}
